body {
    background: transparent;
    color: #color;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
}

img {
    border-radius: 50%;
  }

  .profile-picture {
    width: 250px;
    height: 250px;
    display: block;
    margin: 35px auto 5px auto;
    border-radius: 50%;   
  }

.logo {
margin-right: 10px;
}

.profile-name {
      text-align: center;
      padding: 30px;
      font-weight: bold;
  }

.links {
      text-align: center;
      margin-top: 10px;
      padding: 20px;
      border: 1px solid black;
      border-width: 2px;
      width: 290px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 40px;
  }
 
.links {
  background-color: #c7c6c6;
  opacity: 0.666666;
  transition: 0.5s;
}

.links:hover , .links:active{
  opacity: 1;

}

a {
    text-decoration: none;
    color: black;
    transition: color 1s; 
}



.bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    font-weight: bold;
}



